@mixin typo-title {
    font-family: 'Roboto-slab', sans-serif;
    color: #212121;
    text-transform: none;
    text-align: start;
}

.paid {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    &__modal {
        width: 850px;
        height: 850px;
    }
    &__body {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 80px;
        height: calc(100% - 180px);
    }

    &__block {
        display: inline-flex;
        position: relative;
        width: 100%;
        margin-bottom: 40px;
    }

    &__block-title {
        &--label {
            @include typo-title;
            font-size: 28px;
            font-weight: 700;
        }
        &--sub-label {
            @include typo-title;
            font-size: 17px;
            font-weight: 500;
        }
        &--icon {
            position: relative;
            display: flex;
            width: 50px;
            height: 50px;
            margin-right: 16px;
            border-radius: 100px;

            background: url('../../img/recharge-icon.svg') black center no-repeat;
        }
    }
    &__footer {
        display: inline-flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 180px;
    }

    &__block-total {
        display: flex;
        position: relative;
        flex-direction: column;

        width: 200px;
        margin-left: 16px;

        &--label {
            @include typo-title;
            font-size: 18px;
            font-weight: 500;
        }
        &--sum {
            display: inline-flex;
            @include typo-title;
            font-size: 56px;
            font-weight: 600;
            color: #757575;
        }
        &--sum-bold {
            @extend .paid__block-total--sum;
            color: #212121;
        }
    }
    &__button {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 62px;
        background-color: #f5f5f5;
        border-radius: 60px;
        border: none;

        @include typo-title;
        color: #757575;
        font-size: 18px;
    }
}
