.l-layout {
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#cfd8dc, 0.9);
    }

    &--overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1060;

        width: 100%;
        height: 100%;
        display: flex;
    }
}
