@mixin marging {
    margin-left: 32px;
    margin-top: 24px;
}

@mixin typo-text {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    color: #757575;
    text-transform: none;
    text-align: start;
}

.card {
    height: 265px;
    width: 680px;
    // border: 1px inset #757575;
    border-radius: 10px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    &__line {
        display: flex;
        position: relative;
        top: 24px;
        height: 50px;
        background-color: #f5f5f5;
    }
    &__block {
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 0;
        top: 0;
        width: 424px;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    &__logo {
        position: relative;
        display: flex;

        @include marging;
        height: 37px;
        width: 173px;

        background: url('../../img/logo.png') center no-repeat;
    }

    &__block-number {
        display: flex;
        flex-direction: column;
        @include marging;
        &--label {
            @include typo-text;
            font-size: 16px;
        }
        &--input {
            @include typo-text;
            width: 300px;
            height: 20px;
            margin-top: 10px;
            padding: 16px 20px;
            border: 1px solid #f5e61b;
            border-radius: 3px;
            color: #212121;
            font-size: 25px;
            font-weight: 400;
        }
    }
    &__block-date {
        display: inline-flex;
        @include marging;
        &--input {
            @include typo-text;
            width: 80px;
            height: 20px;
            margin-right: 20px;

            padding: 16px 20px;
            border: 1px solid #b9b9b9d0;
            border-radius: 3px;
            color: #212121;
            font-size: 25px;
            font-weight: 400;
        }
        &--logo {
            position: relative;
            display: flex;

            width: 64px;
            height: 56px;

            background: url('../../img/mc.svg') center no-repeat;
        }
    }
}
