.b-modal {
    position: relative;
    overflow: auto;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 36px 36px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 600px;

    &__head {
        display: flex;
        position: relative;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        padding: 16px;
        box-sizing: border-box;
    }
    &__body {
        display: flex;
        width: 100%;
        height: calc(100% - 50px);
    }

    &__close {
        position: relative;
        display: flex;
        width: 28px;
        height: 28px;
        cursor: pointer;
        background: url('../../img/cancel.svg') center center no-repeat;
    }
}
