@mixin type-base {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #041427;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    &__link {
        @include type-base;
        position: relative;

        height: 50px;
        padding: 13px 40px;
        border: none;
        border-radius: 15px;
        box-sizing: border-box;

        background: green;
        box-shadow: 0 5px 24px 0 rgba(#292a29, 0.4);

        outline: none;

        cursor: pointer;

        &:hover {
            box-shadow: 0 1px 16px 0 rgba(#292a29, 0.4);
        }
    }
}
