@mixin marging {
    margin-left: 32px;
    margin-top: 24px;
}

@mixin typo-text {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    color: #757575;
    text-transform: none;
    text-align: start;
}

.sum-replenishment {
    width: 680px;
    &__label {
        @include typo-text;
        font-size: 16px;
    }
    &__block {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        &--input {
            @include typo-text;
            width: 310px;
            height: 60px;
            margin-top: 10px;
            padding-left: 16px;
            border: 1px solid #b9b9b9d0;
            border-radius: 3px;
            color: #212121;
            font-size: 25px;
            font-weight: 400;
        }
        &--text {
            @include typo-text;
            display: flex;
            max-width: 310px;
            width: 310px;
            height: 60px;
            margin-top: 10px;
            padding: 0 16px;

            justify-content: flex-start;
            align-items: center;
            background-color: #f5f5f5;
            border-radius: 3px;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}
